[submodule "personal-projects/checkBestStudent"]
	path = personal-projects/checkBestStudent
	url = https://github.com/Muhtoyyib/checkBestStudent
[submodule "personal-projects/solveIt"]
	path = personal-projects/solveIt
	url = https://github.com/Muhtoyyib/solveIt
[submodule "30-days-javascript"]
	path = 30-days-javascript
	url = https://github.com/Muhtoyyib/30-days-javascript
[submodule "personal-projects/permutation-and-combination"]
	path = personal-projects/permutation-and-combination
	url = https://github.com/Muhtoyyib/permutation-and-combination.git
