*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'Jost', sans-serif;
    color: #7A9E9F;
    background-image: url('images/Task-image.jpeg');
    height: 100vh;
}

.my-class{
    margin-left: 15px;
}

.button{
    color: #fff;
    background-color: #7A9E9F;  
    font-size: 0.8rem; 
}

.ready{
    color: #ee9f27;
    background-color: #fff;
    font-size: 0.7rem;
}

.ready:hover{
    background-color: #fff;
    color: green;
}

.done{
    color: #fff;
    font-size: 0.7rem; 
}

.to-do-list{
    color: #ee9f27;
}

.text-big{
    font-size: 1.4em;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

a:hover{
    color: #7A9E9F;
}
